{% extends 'base.html.twig' %}

{% block title %}Api Documentation{% endblock %}

{% block body %}
    <h1>API Documentation</h1>

    <h2>Movie</h2>

    <div>
        <h3>Get All Movies</h3>

        <div>
            <h4>URL</h4>
            <p>/movie</p>
        </div>

        <div>
            <h4>Method</h4>
            <p>GET</p>
        </div>

        <div>
            <h4>Response</h4>
            <h5>Code</h5>
            <p>200</p>
            <h5>Content</h5>
            <code>
                [
                    { id : 1, name : "Movie1 Title", url: "https://movies.com/movie1" },
                    { id : 2, name : "Movie2 Title", url: "https://movies.com/movie2" }
                ]
            </code>
        </div>
    </div>

    <div>
        <h3>Get Movie by Id</h3>

        <div>
            <h4>URL</h4>
            <p>/movie/{id}</p>
        </div>

        <div>
            <h4>Method</h4>
            <p>GET</p>
        </div>

        <div>
            <h4>Response</h4>
            <h5>Code</h5>
            <p>200</p>
            <h5>Content</h5>
            <code>
                { id : 12, name : "Movie2 Title", url: "https://movies.com/movie2" }
            </code>
        </div>
        <div>
            <h4>Params</h4>
            <p>id=[integer] => REQUIRED</p>
        </div>
    </div>

{% endblock %}
